.temperature {

  .temperature__title {
    text-align: center;
  }

  .temperature__current {
    text-align: center;
    font-size: 120px;
    color: color($blue, light);
    margin-top: 55px;
    sup {
      font-size: 60px;
    }
  }

  .temperature__set {
    text-align: center;
  }
}