.rain-forecast {
    @include mod(dry) {
        .rain-forecast__background {
            @include background-icon('/svg/forecast--dry.svg');
        }
    }
    @include mod(wet) {
        .rain-forecast__background {
            @include background-pattern('/svg/forecast--wet.svg');
        }
    }
    @include mod(rainy) {
        .rain-forecast__background {
            @include background-pattern('/svg/forecast--rainy.svg');
        }
    }

    background-color: color($blue, light, .25);
    padding: 0 !important;
}

.rain-forecast__background {
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 2;
}

.rain-forecast__graph {
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.rain-forecast__title {
    z-index: 3;
    float: left;
    padding-left: 15px;
    padding-top: 15px;
}

.rain-forecast__extra {
    float: right;
    border-left: 1px solid rgba(255, 255, 255, .6);
    height: 100%;
    opacity: .4;

    .rain-forecast__extra-block {
        font-size: 24px;
        text-align: center;
        border-bottom: 1px solid rgba(255, 255, 255, .6);
        padding: .65vh;

        small {
            display: block;
            font-size: .5em;
        }
    }
}